.header {
    height: 40px;
    background-color: #333;
}

.site-head {
    margin: 0 auto;
    width: 1226px;
}

.nav li {
    float: left;
    line-height: 40px;
    /* border-right: 1px solid #424242; */
}

.nav li a {
    font-size: 13px;
    padding: 0 7px;
    color: #b0b0b0;
    border-right: 1px solid #424242;
}

.nav li a:hover {
    color: white;
}

.nav li:last-child a {
    border-right: none;
}

.register a {
    font-size: 13px;
    padding: 0 7px;
    line-height: 40px;
    color: #b0b0b0;
    border-right: 1px solid #424242;
}

.register a:last-child {
    border-right: none;
}

.register a:hover {
    color: white;
}

.car {
    margin-left: 10px;
    padding: 0 10px;
    background: #424242;
}

.car:hover {
    background-color: white;
}

.car a {
    font-size: 13px;
    line-height: 40px;
    color: #b0b0b0;
}

.car a::before {
    width: 20px;
    height: 20px;
    content: "\E60C";
}

.car span {
    font-size: 13px;
    color: #b0b0b0;
}

.head {
    margin: 20px auto;
    width: 1226px;
    height: 100px;
}

.mi {
    position: relative;
    overflow: hidden;
    width: 55px;
    height: 55px;
    background: url(../img/mi-logo.png);
}

.mi a {
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: orangered;
}

.mi a::before {
    position: absolute;
    /* margin-left: -55px; */
    content: '';
    width: 100%;
    height: 100%;
    background: url(../img/mi-home.png);
}

.nav-one ul li {
    float: left;
    padding: 0 10px;
    line-height: 55px;
}

.form {
    /* margin-top: 20px; */
}

.form input:first-child {
    padding-right: 5px;
    width: 245px;
    height: 48px;
    border: 1px solid #e0e0e0;
}

.form input:last-child {
    margin-left: -5px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid #e0e0e0;
}

.form input:last-child:hover {
    background-color: orange;
}

.banner {
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    width: 1226px;
    height: 460px;
    background: url("https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/3b01d6a0b4e747ace7965d555b89be50.jpg?thumb=1&w=1533&h=575&f=webp&q=90");
    background-size: cover;
}

.banner ul {
    padding: 0 20px 0 30px;
    width: 184px;
    height: 100%;
    background: rgba(105, 101, 101, .6);
}

.banner ul li {
    padding: 12px 0;
}

.banner ul li a {
    color: white;
}

.banner ul li a::after {
    float: right;
    content: '>';
}

.hero {
    margin: 0 auto;
    width: 1226px;
}

.hero-nav li {
    float: left;
    padding: 20px 14px 0 0;
}

.hero-nav li:last-child {
    padding-right: 0;
}

.hero-nav li img {
    display: block;
    width: 316px;
    height: 170px;
}

.icon ul {
    width: 234px;
    height: 170px;
    background: #5f5750;
}

.icon ul li {
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}

.icon ul li a {
    display: block;
    padding-top: 18px;
    color: #fff;
    text-align: center;
    font-size: 13px;
}

.icon ul li a img {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
}

.icon ul li::before {
    position: absolute;
    content: '';
    top: 3px;
    left: 6px;
    width: 64px;
    height: 1px;
    background: #665e57;
}

.icon ul li::after {
    position: absolute;
    content: '';
    top: 6px;
    left: 3px;
    width: 1px;
    height: 70px;
    background: #665e57;
}

.page-main {
    margin-top: 30px;
    /* height: 100px; */
    background-color: #f5f5f5;
}

.container {
    margin: 0 auto;
    width: 1226px;
}

.more {
    position: relative;
    height: 58px;
}

.more a {
    position: absolute;
    line-height: 58px;
    top: 0;
    right: 0;
}

.more h1 {
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
}

.arrow {
    position: absolute;
    right: 0;
    line-height: 58px;
}

.prev {
    display: inline-block;
    padding: 3px 5px;
    width: 24px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #e0e0e0;
}

.next {
    display: inline-block;
    margin-left: -6px;
    padding: 3px 5px;
    width: 24px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #e0e0e0;
}

.prev:hover {
    color: orangered;
}

.next:hover {
    color: orangered;
}

.note {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.note a {
    padding-top: 40px;
    width: 234px;
    height: 299px;
    background-color: white;
    text-align: center;
    border-top: 1px solid red;
}

.note a img {
    display: block;
    margin: 0 auto 20px;
}

.note a h3 {
    margin: 0 10px 2px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.note a P {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
}

.note a span {
    margin: 0 10px 14px;
    color: #ff6700;
}

.tit {
    padding: 22px 0;
}

.mix {
    height: 614px;
}

.phone {
    width: 992px;
}

.phone ul li {
    float: left;
    width: 234px;
    height: 300px;
    text-align: center;
    background-color: white;
    margin: 0 0 14px 14px;
}

.phone ul li a img {
    display: block;
    margin: 20px auto 18px;
}

.phone ul li a h3 {
    margin: 0 10px 2px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.phone ul li a P {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
}

.phone ul li a span {
    margin: 0 10px 14px;
    color: #ff6700;
}

.pic {
    width: 234px;
    height: 614px;
}

.tv ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.tv ul li {
    margin-bottom: 14px;
    width: 234px;
    height: 300px;
    background-color: white;
    text-align: center;
}

.tv ul li:first-child a img {
    margin-top: 0;
}

.tv ul li:nth-child(6) a img {
    margin-top: 0;
}

.tv ul li a {
    text-align: center;
}

.tv ul li a img {
    display: block;
    margin: 20px auto 18px;
}

.tv ul li a h3 {
    margin: 0 10px 2px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.tv ul li a P {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
}

.tv ul li a span {
    margin: 0 10px 14px;
    color: #ff6700;
}

.intelligence ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.intelligence ul li {
    margin-bottom: 14px;
    width: 234px;
    height: 300px;
    background-color: white;
    text-align: center;
}

.intelligence ul li a img {
    display: block;
    margin: 20px auto 18px;
}

.intelligence ul li a h3 {
    margin: 0 10px 2px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.intelligence ul li a P {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
}

.intelligence ul li a span {
    margin: 0 10px 14px;
    color: #ff6700;
}

.intelligence ul li:first-child a img {
    margin-top: 0;
}

.intelligence ul li:nth-child(6) a img {
    margin-top: 0;
}

.intelligence ul li:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f5;
}

.intelligence ul li:last-child a {
    background-color: white;
    height: 143px;
}