* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

.fl {
    float: left;
}

.header {
    height: 70px;
    background: #242424;
}

.head {
    margin: 0 auto;
    width: 1100px;
}

.nav ul li {
    float: left;
    padding: 0 20px;
    line-height: 70px;
    list-style: none;
}

.nav ul li:hover {
    background-color: black;
}

.form {
    /* height: 70px; */
}

.form input:first-child {
    margin-top: 19px;
    width: 158px;
    height: 32px;
    border-radius: 32px;
}

.form input:nth-child(2) {
    width: 90px;
    height: 32px;
    color: white;
    background: #242424;
    border-radius: 32px;
}